@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap");


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a:-webkit-any-link {
  text-decoration: none;
}

.top .bottom{
  height: 100vh;
  width: 100vw;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header {
  position: absolute;
  width: 100%;
  top: 15px;
  z-index: 9;
  flex-wrap: wrap;
  background-color: transparent;
  margin-right: auto;
  margin-left: auto;
}

.header-logo {
  position: absolute;
  top: 4px;
  left: 2vw;
  opacity: 1;
  transition: 0.4s ease;
  height: 44px;
  width: auto;
}

@media (min-width: 768px){
  .header-logo {
    left: 8vw;
  }
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 20.5vw;
  position: relative;
  height: 60px;
  width: 100%;
}

.header-tagline {
  line-height: 21px;
  color: #fff;
  font-size: 21px;
  transition: 0.4s ease;
  margin-right: auto;
  margin-left: 15px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.header-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 15vw;
  height: 44px;
  border-radius: 22px;
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  padding: 0 15px;
  overflow: hidden;
  transition: 1s ease-in-out;
}

@media (min-width: 768px){
  .header-btn {
    left: 47vw;
  }
}

.header-btn:hover {
  background: linear-gradient(90deg, #a754e2 0%, #647dee 100%);
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  height: 100vh;
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

/* @media (min-width: 768px){
  .home-content {
    margin-left: 17vw;
  }
} */

.home:after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  opacity: 0.2;
}

.home-title {
  display: block;
  width: 60vw;
  text-align: left;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 150%;
  margin-bottom: 20px;
}

@media (min-width: 768px){
  .home-title {
    width: 100vw;
    font-size: 46px;
    text-align: center;
  }
}

.home-text {
  display: block;
  width: 75vw;
  text-align: left;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  margin: 0 0 15px;
  font-family: 'Nunito', sans-serif;
}

@media (min-width: 768px){
  .home-text {
    width: 100vw;
    margin: 0 0 30px;
    text-align: center;
  }
}

.home-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

@media (min-width: 768px){
  .home-btns {
    justify-content: center;
  }
}

.home-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 25px 10px 0;
  width: 170px;
  height: 50px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 25px;
  letter-spacing: 0.4px;
  position: relative;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  transition: 1s all ease-in-out;
  overflow: hidden;
  background: #fff;
  color: #647dee;
}

.home-btn:hover {
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  transition: 0 color;
  color: #fff;
}



/* --------------------------------------------------------------------------------------------------------- */


.roadmapsection {
  align-items: center;
  justify-content: center;
  height: auto;
  padding-top: 1vh;
  width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  flex-wrap: nowrap;
}

@media (min-width: 768px){
  .roadmapsection {
    height: 95vh;
    padding-top: 5vh;
  }
}

.title {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

.section-title {
  font-size: 32px;
  color: #343434;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

@media (min-width: 1200px){
.section-title {
    font-size: 42px;
    margin-top: -10px;
}
}
@media (min-width: 768px){
.section-title {
    font-size: 36px;
}
}
.section-tagline {
    display: block;
    position: relative;
    text-align: center;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #647dee;
    margin-bottom: 30px;
}

@media (min-width: 1200px){
.section-tagline {
    font-size: 24px;
}
}
@media (min-width: 768px){
.section-tagline {
    font-size: 20px;
}
}
.section-tagline:before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}

.roadmap {
    display: block;
    margin-top: 40px;
    position: relative;
    padding: 25px 0;
}

@media (min-width: 1000px){
.roadmap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin-top: 70px;
    width: 100%;
}
}

@media (min-width: 768px){
.roadmap {
    padding: 35px 0;
    margin-top: 50px;
}
}

.roadmap:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 90%;
    top: 0;
    bottom: 0;
    left: 10px;
    border-radius: 4px;
    background-image: linear-gradient(180deg, #647dee 0%, #a754e2 100%);
}

@media (min-width: 1000px){
.roadmap:before {
    width: auto;
    height: 4px;
    top: 45px;
    left: 1vw;
    right: 0;
    background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}
}

.roadmap li {
  display: block;
  position: relative;
  margin-bottom: 40px;
  padding-left: 40px;
}

@media (min-width: 1200px){
.roadmap li {
    display: block;
    max-width: 210px;
    padding-left: 0;
    margin: 0 15px;
    margin-bottom: 20px;
}
}

@media (min-width: 768px){
.roadmap li {
    margin-bottom: 35px;
    padding-left: 26px;
}
}

@media (min-width: 1200px){
.roadmap li:before {
    top: 42px;
}
}

.roadmap li:before {
    width: 24px;
    height: 24px;
    left: 0;
    top: 1px;
    background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
    opacity: 0.37;
    z-index: 1;
}

.roadmap li:before, .roadmap li:after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
}

.roadmap li span {
    font-size: 16px;
    color: #343434;
    line-height: 24px;
    font-weight: 500;
    display: block;
    margin-top: -32px;
    margin-bottom: 0px;
}

@media (min-width: 1000px){
.roadmap li span {
    font-size: 18px;
    margin-bottom: 30px;
}
}

@media (min-width: 1200px){
.roadmap li span {
    margin-bottom: 50px;
    margin-top: -32px;
}
}

.roadmap li p {
  font-size: 16px;
  color: #505050;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 5px;
}

.roadmap li.active:after {
  background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}

@media (min-width: 1200px){
.roadmap li:after {
  top: 46px;
}
}

.roadmap li:after {
  width: 16px;
  height: 16px;
  left: 4px;
  top: 5px;
  background-color: #fff;
  z-index: 2;
}

.roadmap li:before, .roadmap li:after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}


/* --------------------------------------------------------------------------------------------------------- */


.footer {
    display: block;
    padding: 50px 0;
    background-color: #212121;
}

@media (min-width: 768px){
.footer {
    padding: 60px 0 50px;
}
}

.footerdiv {
  margin-left: auto;
  margin-right: auto;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    position: relative;
    width: 100vw;
}

.footer-social svg {
  stroke: #0073b0;
  fill: #0073b0;
}
.footer-social a svg {
  width: 22px;
  height: auto;
  transition: 0.4s ease;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social li {
  display: block;
  margin-right: 25px;
}
.footer-social li:last-child {
  margin-right: 0;
}

.footer-social a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  color: #212121;
  background-color: transparent;
}
a {
  transition: 0.4s ease;
}

.copyright {
  margin-left: auto;
  margin-right: auto;
}

.footer-copyright {
  font-size: 14px;
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 30px;
  font-weight: 400;
  letter-spacing: 0.2px;
}